// Override default variables before the import
$body-bg: #d9eef9;
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Login and Registration Page styles
.form-modal {
  background-color: #316261;
  width: 30%;
  margin: 0 auto;
  min-height: 60vh;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 2rem;
}
.logo-title {
  margin-bottom: 2rem;
}
.form-container {
  padding-top: 3rem;
}
.brand-title {
  color: #1d3b6c !important;
}
.no-account {
  margin-top: 4rem;
}
.form-btn {
  margin-top: 2rem;
}
.link {
  color: #fff;
}
.link:hover {
  color: #d9eef9;
}
@media screen and (max-width: 800px) {
  .form-modal {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0;
  }
}

// Dashboard styles
.dash-navbar {
  background-color: #d9eef9;
  box-shadow: 5px 10px 10px #888888;
}
.logged-in-user {
  color: #1d3b6c !important;
}
